[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:gcushen/hugo-academic.git
[submodule "themes/academics"]
	path = themes/academics
	url = git@github.com:wilocw/hugo-academics.git
